/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//----------------------------------------------------------------
//             Libraries
//----------------------------------------------------------------
@import "normalize";

//----------------------------------------------------------------
//             Uniform
//----------------------------------------------------------------
@import "uniform";

body{
    background: #ffffff;
    font-family: $system-font;
    line-height: 1.5;
    color: color('gray-darkest');
    background: color('background');
}

.tabNav{
    border-bottom: 1px solid color('gray');
    button, a{
        padding: 0.5em 1em;
        display: inline-block;
        text-decoration: none;
        margin-bottom: -1px;
        background: color('background');
        border: 1px solid color('gray');
        border-radius: 0.25em 0.25em 0 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        color: color('gray-dark');
        &.active{
            background: white;
            border-top: 3px solid color('green');
            border-bottom-color: white;
            color: color('gray-darkest');
            padding-top: calc(0.5em - 2px);
        }
    }
}

.bracket{
    display: grid;
    grid-template-areas: "quarters semis finals";
    grid-auto-flow: row dense;
    .matchup{
        display: block;
        border-radius: 0.25em;
        background: white;
        border: 1px solid color('gray');
    }
}